<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Minicart>
            <version>0.1.0</version>
        </Aligent_Minicart>
    </modules>
    <global>
        <models>
            <minicart>
                <class>Aligent_Minicart_Model</class>
            </minicart>
        </models>
        <resources>
            <minicart_setup>
                <setup>
                    <module>Aligent_Minicart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </minicart_setup>
            <minicart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </minicart_write>
            <minicart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </minicart_read>
        </resources>
        <helpers>
            <minicart>
                <class>Aligent_Minicart_Helper</class>
            </minicart>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <minicart module="Aligent_Minicart">
                    <file>aligent/minicart.xml</file>
                </minicart>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <custom_ajax_cart>  
                        <class>minicart/observer</class>
                        <method>renderAjaxCart</method>
                    </custom_ajax_cart>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
        </events>
    </frontend>
</config>